CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
lib/glad
lib/assimp
/src/lib/bvh

/libglad.a
/TestEng
/src/libglad.a
/src/libglad.so
/src/libTestEngSrc.a
/src/libTestEngSrc.so
.vscode
/build